<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BAER - Página no encontrada</title>
    <link rel="icon" href="/static/images/favicon.png" type="image/png" />

    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    />
  </head>
  <body>
    <div>
      <div class="has-text-centered" style="padding-top: 10px;">
        <img src="/static/images/banner.png" alt="BAER Banner" height="70" />
      </div>
      <div class="baer__notFound has-text-centered">
        <div class="has-text-centered">
          <img src="/static/images/baer-logo.png" width="200" alt="BAER" />
        </div>
        <h1>Página no encontrada</h1>
        <a href="/" class="button is-info">Ir al inicio</a>
      </div>
    </div>
  </body>
</html>
